{% assign correctionsReversed = include.corrections | reverse %}

{% for correction in correctionsReversed %}
	<div class="column-2">
		{% assign slug = correction.collection %}
		<div class="correction">
			<a class="title" href="{{ correction.url }}"><h2>{{correction.title}}</h2></a>
			<p>{{ correction.excerpt | truncatewords: 38 }}</p>
			{% if include.moreButton %}
    			<p><a href="/{{ slug }}/"class={{ slug }}>Még több {{correction.originFrom}}</a></p>
			{% else %}
				<p><a href="{{ correction.url }}"class={{ slug }}>Teljes szöveg</a></p>
			{% endif %}
		</div>
	</div>
	{% cycle '', '<div class="clear"></div>' %}
{% endfor %}
<div class="clear"></div>
